# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environment
venv/
.env/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# PyCharm
*.iml